<div class="vote-buttons" total-vote={{total_vote}} review-id={{review_id}} vote-state={{vote_state}}>
    <button class="vote-button" data-vote=1>Upvote</button>
    <button class="vote-button" data-vote=-1>Downvote</button>
    <button class="vote-button" data-vote=0>Remove Vote</button>
    <p id="total_vote{{review_id}}">Upvotes: {{total_vote}}</p>
</div>