<div class='col-xs-3' style="width : 50px;height:120px" total-vote={{total_vote}} review-id={{review_id}} vote-state={{vote_state}}>
    <button style="float: left;" class="btn" vote-button="vote-button" vote-type="upvote" data-vote=1>
        <img vote-button="vote-button" src = "/images/upvote_gray.png" width="25px" height="25px">
    </button>
    <center><span style="text-align: center;position:relative;top: 0%;left:0%;" id="total_vote{{review_id}}">{{total_vote}}</span></center>
    <button style="float: right;"  class="btn" vote-button="vote-button" vote-type="downvote" data-vote=-1>
        <img vote-button="vote-button" src = "/images/downvote_gray.png" width="25px" height="25px">
    </button>
</div>