{{!-- Top of class stores data that is used by buttons. --}}
<div class="vote-buttons" total-vote={{total_vote}} review-id={{review_id}} vote-state={{vote_state}}>
    <button class="vote-button" vote-type="upvote" data-vote=1>Upvote</button>
    <button class="vote-button" vote-type="downvote" data-vote=-1>Downvote</button>
    <p id="total_vote{{review_id}}">Upvotes: {{total_vote}}</p>
</div>