<div class='container'>
  <div class='jumbotron'>
    {{!-- Display the username --}}
    <h1><centre>{{ user.username }}'s Reviews</centre></h1>  

    {{!-- If there are reviews, display reviews --}}
     {{#if reviews.length}}

    <table class='table'>
      <thead>
        <tr>
            <th scope='col'>Course Name</th>
            <th scope='col'>Review</th>
            <th scope='col'>Rating</th>
            <th scope="col">Update Review</th>
            <th scope="col">Delete Review</th>
          </tr>
      </thead>

      <tbody>
        {{!-- Iterate through the user's reviews and display them --}}
         {{#each reviews}}
            <tr>
              <td>{{this.course_name}}</td>
              <td>{{this.review}}</td>
              <td>{{this.overall_rating}}</td>
              <td></td>
              <td>
                <form method="POST", action="/deleteReview?_method=DELETE" mode="cors">
                  <input id="review_id" name="review_id" value="{{this.review_id}}">
                  <input type="hidden" id="user_id" name="user_id" value="{{this.user_id}}">
                  <button type="submit" class="btn btn-primary">Delete Review</button>
                </form>
              </td>
            </tr>
          {{/each}}
      </tbody>
    </table> 

    {{!-- There are no reviews by this user --}}
    {{else}}
      <p>No reviews found.</p>
    {{/if}}
  </div>
</div>
