<div class="container" style="padding-bottom: 50px;">
  {{!-- Display the username --}}
  <h1 class="display-4 text-center">{{username}}'s Reviews</h1>  

  {{!-- If there are reviews, display reviews --}}
  {{#if reviews.length}}
    <div id="review-container" class="container d-flex flex-column">
      {{> sort start_selected="Year"}}
      {{#each reviews}}
        <div id="review{{this.review_id}}" class="card mb-2 bg-light">
          <div class="card-header">
            <h3 class="card-title overflow-hidden text-truncate">{{course_tag}} {{course_id}}: {{course_name}}</h3>
            <div class="card-subtitle text-muted">{{term_taken}} {{year_taken}}</div>
          </div>
          <div class="card-body">
            <table class="table border border-primary rounded">
              <tr>
                <td scope="col">Overall: {{this.overall_rating}}/10</td>
                <td scope="col">Homework: {{this.homework_rating}}/10</td>
                <td scope="col">Enjoyability: {{this.enjoyability_rating}}/10</td>
                <td scope="col">Usefulness: {{this.usefulness_rating}}/10</td>
                <td scope="col">Difficulty: {{this.difficulty_rating}}/10</td>
              </tr>
            </table>
            <p>{{review}}</p>
            <a class="btn btn-dark" href="/course/{{course_tag}}{{course_id}}">Visit Course</a>
            <a class="btn btn-danger" href="/deleteReview?_method=DELETE&review_id={{review_id}}&user_id={{user_id}}">Delete Review</a>
            <a class="btn btn-primary" href="/course/{{course_tag}}{{course_id}}/review">Update Review</a>
          </div>
        </div>
      {{/each}}
    </div>
    
  {{!-- There are no reviews by this user --}}
  {{else}}
    <div class="container">
      <p>No reviews found.</p>
    </div>
  {{/if}}
</div>
