<div class="container border border-dark">
    <h1>{{course_tag}} {{course_id}}</h1>
    <h4>{{course_name}}</h4>
    <h5>Reviews:</h5>

    {{#each reviews}}
        <div class="container">
            <h6>Review from {{term_taken}} {{year_taken}}:</h6>
            <p>Overall: {{overall_rating}}/10</p>
            <p>Homework: {{homework_rating}}/10</p>
            <p>Enjoyability: {{enjoyability_rating}}/10</p>
            <p>Usefulness: {{usefulness_rating}}/10</p>
            <p>Difficulty: {{difficulty_rating}}/10</p>
            <p>{{review}}</p>
            {{> up_down_vote_button }}
            <p class="text-muted">posted by {{posted_by.username}}</p>
        </div>
    {{/each}}
</div>
{{> up_down_vote_script }}