{{!-- <table>
  <tbody>
     <tr>
        <td scope="col">{{course_tag}}</td>
        <td scope="col">{{course_id}}</td>
        <td scope="col">{{course_name}}</td>
        <td scope="col">{{credit_hours}}</td>
    </tr>  
  </tbody>
</table>

{{description}}

{{review}} --}}