<style>
        table,
        th{
            border-bottom:0;
        },
        td {
            padding: 20px;
        }
 
        table {
            text-align: center;
        }
        .card{
            margin-bottom: 16px;
        }
</style>

</br>
<div class="container border border-dark" style="padding-bottom: 16px; padding-top: 16px;">
    <h1>{{course_tag}} {{course_id}}</h1>
    <h4>{{course_name}}</h4>
    <h6>{{credit_hours}} credit hours</h6>
    <p>{{description}}</p>
    <hr>
    <div class="row">
        <div class="col md-6 pt-1" style="float: left;">
            <h5>Average Rating: <b> {{average_rating}} </b></h5>
        </div>
        <div class="col md-6">
    <button class="btn btn-primary" style="float: right; " id="reviewButton">
        {{#unless userHasAlreadyReviewed}}
        Write a review
        {{else}}
        Update your review
        {{/unless}}
    </button>
    <script>
        //used chatgpt to help get the url from the course page (needed course id and course tag for review).
        document.getElementById("reviewButton").onclick = function() {
        var referringPage = window.location.href;
        window.location.href = "/review?page=" + encodeURIComponent(referringPage);
        };
    </script>
        </div>
    </div>
</div>
</br>
{{#if reviews.length}}
    <div id="review-container" class="container">
    {{> sort start_selected="Trust" }}
    {{#each reviews}}
    </br>
    <div class="row" >
        <div class="col-sm-6 mx-auto">
            <div class="card" id="review{{this.review_id}}">
                <div class="card-header" style="background-color:#CFB87C">
                   Review from {{term_taken}} {{year_taken}}:
                </div>
                <div class="card-body">
                    <div class="row flex-nowrap">
                        <div class="col-sm-auto " style="margin: auto;">

                            {{> up_down_vote_button }}
                        </div>
                        <div class="col-sm">
                            <table class="table">
                                <tr>
                                    <th scope="col">Overall:</th>
                                    <th scope="col">Homework:</th>
                                    <th scope="col">Enjoyability:</th>
                                    <th scope="col">Usefulness:</th>
                                    <th scope="col">Difficulty:</th>
                                </tr>
                                <tr>
                                    <td scope="col">{{overall_rating}}/10</td>
                                    <td scope="col">{{homework_rating}}/10</td>
                                    <td scope="col">{{enjoyability_rating}}/10</td>
                                    <td scope="col">{{usefulness_rating}}/10</td>
                                    <td scope="col">{{difficulty_rating}}/10</td>
                                </tr>
                            </table>
                            </br>
                            <p>{{review}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted" style="background-color:#CFB87C">
                    Posted by {{posted_by.username}}
                </div>
            </div>
        </div>
    </div>
    </br>
    {{/each}}
    
{{else}}
<div class="container">
      <p>No reviews found.</p>
</div>
{{/if}}
{{> up_down_vote_script }}
